body {
  background-image: linear-gradient(
    rgb(172, 104, 172),
    rgb(4, 46, 7),
    rgb(11, 51, 13),
    rgb(231, 10, 121),
    rgb(245, 12, 233)
  );
  font-family: "Lobster", cursive;
}

p {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
}

.container {
  background-color: rgba(151, 104, 172, 0.645);
  padding: 10px;
}

.gifDiv {
  border: black;
  border-style: solid;
  border-width: 1px;
  min-height: 260px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}

.otherContent {
  padding: 5px;
}

.jumbotron {
  background-color: lightgray, gray, lightcyan;
  border-radius: 10px;
  text-align: center;
}

.search {
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.bioDiv {
  min-height: 300px;
  background-color: lightgray;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
}

.spotDiv {
  min-height: 300px;
  background-color: lightgray;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
}

.newsDiv {
  min-height: 300px;
  background-color: lightgray;
  border: black;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.footer {
  text-align: center;
  padding: 5px;
}

#pContainer {
  border: black;
  border-style: solid;
  border-width: 1px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}

#ytDisplay {
  border: black;
  border-style: solid;
  border-width: 1px;
  min-height: 260px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}

@media screen and (max-width: 1333px) {
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 340px) {
}
