body {
  background-image: url("../assets/Screen_Shot_2018-02-23_at_8.16.01_PM_2048x2048.png");
  background-size: cover;
}

.mainContent {
  background-color: rgb(150, 104, 172);
  padding: 10px;

}

.gifDiv {
  border: black;
  border-style: solid;
  border-width: 1px;
  min-height: 260px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}


.otherContent {
  background-color: rgb(150, 104, 172);
  padding: 10px;
}

.jumbotron {
  height: 200px;
  background-color: lightgray, gray, lightcyan;
  border-radius: 10px;
  text-align: center;
}

.search {
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.bioDiv{
  min-height: 260px;
  background-color: lightgray;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
}

.spotDiv {
  min-height: 260px;
  background-color: lightgray;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
}

.tmDiv {
  min-height: 260px;
  background-color: lightgray;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
}

.newsDiv {
  min-height: 260px;
  background-color: lightgray;
  border: black;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.footer-content{
  background-color: rgb(150, 104, 172);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 5px;
}

h1 {
  font-family: 'Inknut Antiqua', serif;;
  font-size: 50px;
  text-align: center;
}

h4 {
  font-family: 'Sen', sans-serif;
}

#artistName {
  font-family: 'Sen', sans-serif;
}

#pContainer {
  border: black;
  border-style: solid;
  border-width: 1px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}

#ytDisplay {
  border: black;
  border-style: solid;
  border-width: 1px;
  min-height: 260px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}


@media screen and (max-width: 1333px) {
  
}

@media screen and (max-width: 1050px) {
 
}

@media screen and (max-width: 900px) {
  
}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 340px) {
 
}
